<app-navigation></app-navigation>
<div class="container-fluid" *ngIf="repositories">
  <div class="row">
    <div class="col-md-9 col-lg-10">
      <h1 class="display-4 d-none d-sm-block">
        Repositories
      </h1>
      <div class="row mb-3">
        <div class="col-xl-3 col-sm-6">
          <div class="card bg-success text-white h-100">
            <div class="card-body bg-success">
              <div class="rotate">
                <i class="fa fa-user fa-3x"></i>
              </div>
              <h6 class="text-uppercase">Repositories</h6>
              <h1 class="display-4">{{ totalRepositoryCount }}</h1>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6">
          <div class="card text-white bg-danger h-100">
            <div class="card-body bg-danger">
              <div class="rotate">
                <i class="fa fa-list fa-3x"></i>
              </div>
              <h6 class="text-uppercase">Images</h6>
              <h1 class="display-4">{{ totalImageCount }}</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-2">
      <p class="lead mt-5">
        <input type="search" placeholder="Filter repositories ..." (input)="nameFilter = $event.target.value" class="form-control"
        />
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <app-repository-item *ngFor="let repository of repositories | name:nameFilter" [repository]="repository" (repositorySelected)="onSelected($event)"></app-repository-item>
    </div>
  </div>
</div>
